<div class="container text-center">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <p>
      Our mission is to create a simple and effective way for individuals to manage their finances.
    </p>
    <p>
      Our features include:
    </p>
    <ul class="list-unstyled">
      <li><i class="bi bi-check-circle"></i> User-friendly expense tracking</li>
      <li><i class="bi bi-check-circle"></i> Real-time budget alerts</li>
      <li><i class="bi bi-check-circle"></i> Easy-to-read expense reports</li>
    </ul>
  </div>
  








<!-- <h2>about Us!</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
     Officia nisi eligendi libero nemo vitae sed accusamus sequi nobis,
     magni autem quaerat minus pariatur ipsam velit eos, molestias iste quia temporibus?
    </p>
    <ul>
        <li>Name: {{infos.name}}</li>
        <li>Email: {{infos.email}} </li>
        <li>Tel: {{infos.tel}} </li>
    </ul>

    <h2>Add A Comment: </h2>
    <div>
        <input type="text" [(ngModel)]="comment" />

        <button type="button" (click)="addComment()">Submit</button>
    </div>  

    <div *ngIf="comments.length > 0; else noComments">
        <h3>Liste des Messages: </h3>
        <ul>
            <li *ngFor="let c of comments">
                {{c.date}} : {{c.message}}
            </li>
        </ul>
    </div>
    <ng-template #noComments>
        <p>Liste des commentaire est vide!</p>
    </ng-template> -->
    
    
    
    <!-- <p>about works!</p>
    <p>
        @if (test) {
            test is true!!
        }
    </p> -->