<div class="container text-center">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    
    <div class="social-media-links">
      <a href="https://facebook.com" target="_blank" class="btn btn-outline-primary ms-2" title="Facebook">
        <i class="bi bi-facebook"></i> Facebook
      </a>
      <a href="https://twitter.com" target="_blank" class="btn btn-outline-info ms-2" title="Twitter">
        <i class="bi bi-twitter"></i> Twitter
      </a>
      <a href="https://linkedin.com" target="_blank" class="btn btn-outline-secondary ms-2" title="LinkedIn">
        <i class="bi bi-linkedin"></i> LinkedIn
      </a>
      <a href="https://instagram.com" target="_blank" class="btn btn-outline-danger ms-2" title="Instagram">
        <i class="bi bi-instagram"></i> Instagram
      </a>
    </div>
    
    <div class="phone-number mt-4">
      <p>If you'd like to reach us directly, give us a call:</p>
      <a href="tel:+1234567890" class="btn btn-outline-success">
        <i class="bi bi-telephone-fill"></i> +1 (234) 567-890
      </a>
    </div>
  </div>
  